__pycache__/
*.py[cod]
*.egg-info/
.idea/
.ipynb_checkpoints/
.cache/
.venv/
venv/
build/
dist/
data_for_maps/
*.png
#*.pkl
#*.npy
#*.json
/examples/reservoir_state_maps ВНГП.ipynb
/examples/reservoir_state_maps_water_cut.ipynb
/examples/data_wells_original.pkl
/examples/ВНГП/
Исходные для анализа/
Книги тек насыщ/

